<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Page</title>
  </head>
  <body>
    <ul>
        <li><a href="/?testKey=testValue">Test with URL query params</a></li>
	<li><a href="/">Clear query params</a></li>
	 {{{body}}}
  </body>
</html>
