<header>
    <h1>Company Name</h1>
</header>
<section>
    <div class="promo-container">
        <h3>Promotional Products</h3>
        <div class="carousel">
            <div class="carousel__left-arrow"><</div>
            <div class="carousel__body">
                <figure role="link">
                    <img src="https://picsum.photos/200" alt="randomly generated image"/>
                    <figcaption>Curent Product 1</figcaption>
                </figure>
            </div>
            <div class="carousel__right-arrow">></div>
        </div>
    </div>
</section>